.game__action-area {
  height:100%;
  position: absolute;
  max-width: 500px;
  width: 100%;
}
.game__monster-preview .monster {
  margin-top: 10%;
}
.game__fight-text {
  position: absolute;
  bottom: 170px;
}
