/* One day... */
@viewport {
  orientation: landscape;
}

body > div {
  transition: all 1s ease-in-out;
}

.view-container {
  background-color: #283239;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  height: 600px;
  border-radius: 3%;
  overflow: hidden;
  margin-top: 20px;
}
