.lobby__lobby {
  margin-left:20px;
  margin-right:20px;
  margin-top:20px;
}

.lobby__lobby-div {
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #b61924;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}