.game__my-monster {
  width: 50%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  /*padding-right: 40px;*/
}

.game__my-monster .game__monster-img {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
